<!DOCTYPE html>
<html>
	<head>
		<title>Coffee Books</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="./bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' rel='stylesheet'>
		<link href="./routes/books_server_route.js">
	</head>
	<body>
		<div class="Image">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<img src="/images/header.png" alt="header">
					</div>
				</div>
				
			</div>
		</div>
		<div class="menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<nav class="navbar navbar-default">
							<div class="container-fluid">
								<div class="navbar-header">
									<a class="navbar-brand" href="#">COFFEE BOOK</a>
								</div>
								<ul class="nav navbar-nav">
									<li class="active"><a href="#">Home</a></li>
									<li><a href="./books">Book</a></li>
									<li><a href="#">Change</a></li>
									<li><a href="#">User</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<h2>Striped Rows</h2>
			<p>The .table-striped class adds zebra-stripes to a table:</p>
			<div class="thumbnail">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Bookname</th>
							<th>image</th>
							<th>Content</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>item.bookkey</td>
							<td>item.name</td>
							<td>item.image</td>
							<td>item.content</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="footer">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
				<div class="container">
					<div class="row">
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
							<h3>LOCATION</h3>
							<p>Thu Duc. tp.Ho Chi Minh</p>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
							<ul>
								
							</ul>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
							<h3>ABOUT US</h3>
							<p><br> Group CNPM2013</p>
						</div>
					</div>
				</div>
				
				<div class="footer">
					<div class="container text-center">
						Copyright © Your Website 2016
					</div>
				</div>
			</div>
		</div>
	</body>
</html>