<div class="footer">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
	    <div class="container">
	        <div class="row">
	          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
	            <h3>LOCATION</h3>
	            <p>Thu Duc. tp.Ho Chi Minh</p>
	          </div>
	          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
	                        
	                        <ul>
	                            
	                        </ul>
	                    </div>
	          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
	            <h3>ABOUT US</h3>
	            <p><br> Group CNPM2013</p>
	          </div>

	        </div>
	      </div>
	    

	    <div class="footer">
	      <div class="container text-center">
	        Copyright © Your Website 2016 
	      </div>
	    </div>
		</div>
		</div>
</body>
</html>