<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" media="screen">

</head>
<body>
 	<div class="Image">
 	</div>
 	<div class="menu">
 	</div>
	<div class="slide">
		<div class="container" >
			<div class="row">
				<div class="thumbnail">
					<div class="container">
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
							<div id="carousel-id" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#carousel-id" data-slide-to="0" class=""></li>
								<li data-target="#carousel-id" data-slide-to="0" class=""></li>
								<li data-target="#carousel-id" data-slide-to="1" class=""></li>
								<li data-target="#carousel-id" data-slide-to="1" class=""></li>
								<li data-target="#carousel-id" data-slide-to="2" class="active"></li>
							</ol>
							<div class="carousel-inner">
								<div class="item">
									<a = href="video1.html"><img  src="hinhanh/slide1.png" alt=""></a>
								</div>
								<div class="item">
									<a = href="video2.html"><img src="hinhanh/slide2.png" alt=""></a>	
								</div>
								<div class="item ">
									<a = href="video3.html"><img src="hinhanh/slide3.png" alt =""></a>
								</div>
								<div class="item active">
									<a = href="video4.html"><img src="hinhanh/slide4.png" alt=""></a>
								</div>
								<div class="item">
									<a = href="video5.html"><img src="hinhanh/slide5.png" alt =""></a>
								</div>
							</div>
							<a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
							<a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
						</div>
					</div> <!-- end carousel -->
					</div>
				</div>
			</div>
		</div> <!-- ket thuc container slide -->
	</div> <!-- ket thuc khoi slide + menu -->
	</div>
	<div class="news">
		
	</div>
	<div class="bookshot">
		
	</div>
	<div class="bookschange">
		
	</div>
	<div class="boooksuggest">
		
	</div>
	<div class="footer">
		
	</div>
</body>
</html>