<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="./bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' rel='stylesheet'>
</head>
<body>
 	<div class="Image">
 		<div class="container">
 			<div class="row">
 			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
 				<img src="/images/header.png" alt="header">
 			</div>
 			</div>
 			
 		</div>
 	</div>
 	<div class="menu">
 	<div class="container">
 	<div class="row">
 		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	 		<nav class="navbar navbar-default">
	  			<div class="container-fluid">
	    			<div class="navbar-header">
	      			<a class="navbar-brand" href="#">COFFEE BOOK</a>
	    			</div>
	    			<ul class="nav navbar-nav">
	      				<li class="active"><a href="#">Home</a></li>
	      				<li><a href="/book.ejs">Book</a></li>
	      				<li><a href="/change.ejs">Change</a></li>
	      				<li><a href="/user.ejs">User</a></li>
	    			</ul>
	  			</div>
			</nav>
		</div>
 	</div>
 	</div>
 	</div>
	<div class="slide">
		<div class="container" >
			<div class="row">
				
					<div class="container">
						<div class="class=col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<div class="thumbnail">
							</div>
						</div>
						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
						<h4>sách hot trong tuần</h4>
						<br>
						<div class="thumbnail">
							<div id="carousel-id" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#carousel-id" data-slide-to="0" class=""></li>
								<li data-target="#carousel-id" data-slide-to="0" class=""></li>
								<li data-target="#carousel-id" data-slide-to="1" class=""></li>
								<li data-target="#carousel-id" data-slide-to="1" class=""></li>
								<li data-target="#carousel-id" data-slide-to="2" class="active"></li>
							</ol>
							<div class="carousel-inner">
								<div class="item">
									<a = href="video1.html"><img  src="/images/cuontheochieugio.jpg" alt=""></a>
								</div>
								<div class="item">
									<a = href="video2.html"><img src="/images/harrypotter.jpg" alt=""></a>	
								</div>
								<div class="item ">
									<a = href="video3.html"><img src="/images/meodayhaiaubay.jpg" alt =""></a>
								</div>
								<div class="item active">
									<a = href="video4.html"><img src="/images/nhagiakim.png" alt=""></a>
								</div>
								<div class="item">
									<a = href="video5.html"><img src="/images/suimlaangcuabaycuu.jpg" alt =""></a>
								</div>
							</div>
							<a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
							<a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
						</div>
					</div> <!-- end carousel -->
					</div>
					</div>
				
			</div>
		</div> <!-- ket thuc container slide -->
	</div> <!-- ket thuc khoi slide + menu -->
	<br>
	</div>
	<div class="news">
		<div class="container">
		  	<h2>Striped Rows</h2>
		  	<p>The .table-striped class adds zebra-stripes to a table:</p>            
		  	<table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Time</th>
		        <th>Lastname</th>
		        <th>Content</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td>22/5/2017</td>
		        <td>Le Thi Kim Chung</td>
		        <td>trao doi sach</td>
		      </tr>
		      <tr>
		        <td>22/5/2017</td>
		        <td>Le Thi Kim Chung</td>
		        <td>binh luan sach</td>
		      </tr>
		      <tr>
		        <td>22/5/2017</td>
		        <td>Le Thi Kim Chung</td>
		        <td>tim sach</td>
		      </tr>
		      <tr>
		        <td>22/5/2017</td>
		        <td>Le Thi Kim Chung</td>
		        <td>trao doi sach</td>
		      </tr>
		      <tr>
		        <td>22/5/2017</td>
		        <td>Le Thi Kim Chung</td>
		        <td>binh luan sach</td>
		      </tr>
		      <tr>
		        <td>22/5/2017</td>
		        <td>Le Thi Kim Chung</td>
		        <td>tim sach</td>
		      </tr>
		    </tbody>
		  	</table>
		</div>
	</div>
	<hr>
	<div class="bookshot">
		<div class="container">
			<div class="row">
				<h4> Sách yêu thích nhất trong tuần </h4>
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-3 col-md-3 clo-lg-3">
					<div class="thumbnail">
						<a href="./stories/goosewithgoldeneggs.html"><img src="images/hinh.png" alt="" class="img-responsive">
						<div class="text-center">
							<h4>Name</h4>
							<p>text</p>
							<a href="./stories/goosewithgoldeneggs.html" class="btn btn-primary">View Now</a>
						</div>
						</a>
					</div>
				</div>

				<div class="col-xs-6 col-sm-3 col-md-3 clo-lg-3">
					<div class="thumbnail">
						<a href="./stories/goosewithgoldeneggs.html"><img src="images/hinh.png" alt="" class="img-responsive">
						<div class="text-center">
							<h4>Name</h4>
							<p>text</p>
							<a href="./stories/goosewithgoldeneggs.html" class="btn btn-primary">View Now</a>
						</div>
						</a>
					</div>
				</div>
				

				<div class="col-xs-6 col-sm-3 col-md-3 clo-lg-3">
					<div class="thumbnail">
						<a href="./stories/goosewithgoldeneggs.html"><img src="images/hinh.png" alt="" class="img-responsive">
						<div class="text-center">
							<h4>Name</h4>
							<p>text</p>
							<a href="./stories/goosewithgoldeneggs.html" class="btn btn-primary">View Now</a>
						</div>
						</a>
					</div>
				</div>

				<div class="col-xs-6 col-sm-3 col-md-3 clo-lg-3">
					<div class="thumbnail">
						<a href="./stories/goosewithgoldeneggs.html"><img src="images/hinh.png" alt="" class="img-responsive">
						<div class="text-center">
							<h4>Name</h4>
							<p>text</p>
							<a href="./stories/goosewithgoldeneggs.html" class="btn btn-primary">View Now</a>
						</div>
						</a>
					</div>
				</div>
			</div> <!-- end 1 cot -->
			<div class="row">
				<div class="col-xs-11 col-sm-11 col-md-11 clo-lg-11">
					
				</div>
				<div class="col-xs-1">
					<button type="button" class="btn btn-default">Xem thêm</button>
				</div>
			</div>
		</div>

	</div>
	<hr>
	<div class="bookschange">
		<div class="container">
			<div class="row">
				<h4> Sách trao đổi </h4>
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-3 col-md-3 clo-lg-3">
					<div class="thumbnail">
						<a href="./stories/goosewithgoldeneggs.html"><img src="images/hinh.png" alt="" class="img-responsive">
						<div class="text-center">
							<h4>Name</h4>
							<p>text</p>
							<a href="./stories/goosewithgoldeneggs.html" class="btn btn-primary">View Now</a>
						</div>
						</a>
					</div>
				</div>

				<div class="col-xs-6 col-sm-3 col-md-3 clo-lg-3">
					<div class="thumbnail">
						<a href="./stories/goosewithgoldeneggs.html"><img src="images/hinh.png" alt="" class="img-responsive">
						<div class="text-center">
							<h4>Name</h4>
							<p>text</p>
							<a href="./stories/goosewithgoldeneggs.html" class="btn btn-primary">View Now</a>
						</div>
						</a>
					</div>
				</div>
				

				<div class="col-xs-6 col-sm-3 col-md-3 clo-lg-3">
					<div class="thumbnail">
						<a href="./stories/goosewithgoldeneggs.html"><img src="images/hinh.png" alt="" class="img-responsive">
						<div class="text-center">
							<h4>Name</h4>
							<p>text</p>
							<a href="./stories/goosewithgoldeneggs.html" class="btn btn-primary">View Now</a>
						</div>
						</a>
					</div>
				</div>

				<div class="col-xs-6 col-sm-3 col-md-3 clo-lg-3">
					<div class="thumbnail">
						<a href="./stories/goosewithgoldeneggs.html"><img src="images/hinh.png" alt="" class="img-responsive">
						<div class="text-center">
							<h4>Name</h4>
							<p>text</p>
							<a href="./stories/goosewithgoldeneggs.html" class="btn btn-primary">View Now</a>
						</div>
						</a>
					</div>
				</div>
			</div> <!-- end 1 cot -->
			<div class="row">
				<div class="col-xs-11 col-sm-11 col-md-11 clo-lg-11">
					
				</div>
				<div class="col-xs-1">
					<button type="button" class="btn btn-default">Xem thêm</button>
				</div>
			</div>
		</div>
		
	</div>
	<hr>
	<div class="boooksuggest">
		<div class="container">
			<div class="row">
				<h4> Sách gợi ý </h4>
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-3 col-md-3 clo-lg-3">
					<div class="thumbnail">
						<a href="./stories/goosewithgoldeneggs.html"><img src="images/hinh.png" alt="" class="img-responsive">
						<div class="text-center">
							<h4>Name</h4>
							<p>text</p>
							<a href="./stories/goosewithgoldeneggs.html" class="btn btn-primary">View Now</a>
						</div>
						</a>
					</div>
				</div>

				<div class="col-xs-6 col-sm-3 col-md-3 clo-lg-3">
					<div class="thumbnail">
						<a href="./stories/goosewithgoldeneggs.html"><img src="images/hinh.png" alt="" class="img-responsive">
						<div class="text-center">
							<h4>Name</h4>
							<p>text</p>
							<a href="./stories/goosewithgoldeneggs.html" class="btn btn-primary">View Now</a>
						</div>
						</a>
					</div>
				</div>
				

				<div class="col-xs-6 col-sm-3 col-md-3 clo-lg-3">
					<div class="thumbnail">
						<a href="./stories/goosewithgoldeneggs.html"><img src="images/hinh.png" alt="" class="img-responsive">
						<div class="text-center">
							<h4>Name</h4>
							<p>text</p>
							<a href="./stories/goosewithgoldeneggs.html" class="btn btn-primary">View Now</a>
						</div>
						</a>
					</div>
				</div>

				<div class="col-xs-6 col-sm-3 col-md-3 clo-lg-3">
					<div class="thumbnail">
						<a href="./stories/goosewithgoldeneggs.html"><img src="images/hinh.png" alt="" class="img-responsive">
						<div class="text-center">
							<h4>Name</h4>
							<p>text</p>
							<a href="./stories/goosewithgoldeneggs.html" class="btn btn-primary">View Now</a>
						</div>
						</a>
					</div>
				</div>
			</div> <!-- end 1 cot -->
			<div class="row">
				<div class="col-xs-11 col-sm-11 col-md-11 clo-lg-11">
					
				</div>
				<div class="col-xs-1">
					<button type="button" class="btn btn-default">Xem thêm</button>
				</div>
			</div>
		</div>

	</div>
	<br>
	<div class="footer">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
	    <div class="container">
	        <div class="row">
	          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
	            <h3>LOCATION</h3>
	            <p>Thu Duc. tp.Ho Chi Minh</p>
	          </div>
	          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
	                        
	                        <ul>
	                            
	                        </ul>
	                    </div>
	          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
	            <h3>ABOUT US</h3>
	            <p><br> Group CNPM2013</p>
	          </div>

	        </div>
	      </div>
	    

	    <div class="footer">
	      <div class="container text-center">
	        Copyright © Your Website 2016 
	      </div>
	    </div>
		</div>
		</div>
</body>
</html>